.bloque {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

.calle {
    -fx-background-color: black;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}
